Source: com.github.slawtul.hamster
Section: x11
Priority: optional
Maintainer: Slawek Tuleja <slawek.tuleja@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               ninja,
               gtkmm-3.0,
               libxt-dev,
               wmctrl,
               g++ (>= 7.5.0)
Standards-Version: 4.1.1

Package: com.github.slawtul.hamster
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Hamster. Clipboard manager. All copied text in one place
